.editor-post-parent__panel-dropdown {
	width: 100%;
}

.editor-post-parent__panel-dialog {
	.editor-post-parent {
		margin: $grid-unit-10;
	}

	.components-popover__content {
		min-width: 320px;
	}
}
